@import url(../vars.css);

.footer {
    text-wrap: pretty;
    font-family: "Lato-Regular";
    text-align: center;
    padding: 1rem;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer__external-link {
    color: var(--purple);
    font-family: "Lato-Bold";
    text-decoration: none;
    /* add an arrow at the end to indicate that is an external link */
    background-image: url(../../imgs/icons/external-link-arrow.svg);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 25px;
}

/* change color to black when the link is targeted */
.footer__external-link:hover,
.footer__external-link:focus {
    color: var(--black);
}

/* change color to red on click */
.footer__external-link:active {
    color: var(--red);
}

.footer__external-link:visited {
    color: var(--blue);
}

.footer__goto-top-button {
    display: inline-block;
    width: 32px;
    height: 32px;
    transition-duration: 0.2s;
}

.footer__arrow-goto-top {
    min-height: 100%;
}

/* The third selector is used to tactile devices */
.footer__goto-top-button:hover,
.footer__goto-top-button:focus,
.footer__goto-top-button:active {
    scale: 1.5;
}
