@import url(../vars.css);

.soft-skills__main-header {
    font-family: "Lato-Bold";
    text-align: center;
    font-size: var(--main-header);
}

.soft-skills-accordion__title {
    font-family: "Lato-Bold";
    list-style-type: none;
    line-height: 2;
    font-weight: bold;
    /* touch icon at the begin of the accordion title */
    background: url(../../imgs/icons/touch.svg) no-repeat;
    background-position: center left;
    padding-left: 2rem;
}

.soft-skills-accordion__title:hover,
.soft-skills-accordion__title:focus,
.soft-skills-accordion__title:active {
    color: var(--purple);
}

.soft-skills-accordion__text {
    line-height: 1.6;
    text-wrap: pretty;
}
