@import url(./vars.css);
@import url(./sections/header.css);
@import url(./sections/intro.css);
@import url(./sections/main-skills.css);
@import url(./sections/soft-skills.css);
@import url(./sections/contacts.css);
@import url(./sections/footer.css);
@import url(./fonts.css);

/* wider screen as desktop and tablets*/
@import url(./layouts/wider-devices.css);

/* Cards used in the layout */
.card-view {
    font-family: "Lato-Regular";
    border-radius: 3px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 3px 3px 10px var(--lightgray);
    text-wrap: pretty;
}
