@import url(./vars.css);
@import url(./sections/header.css);
@import url(./sections/intro.css);
@import url(./sections/main-skills.css);
@import url(./sections/soft-skills.css);
@import url(./sections/contacts.css);

/* Add Inter fonts to the document, stored locally */
@font-face {
    font-family: "Inter";
    src: local("Inter"), url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

/* Cards used in the layout */
.card-view {
    border-radius: 3px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 3px 3px 10px var(--lightgray);
    text-wrap: pretty;
}

/***************************** Contact-section *********************/
.contact__section_header {
    text-align: center;
    font-size: var(--main-header);
}

.contact-buttons__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.contact__section_button {
    display: inline-block;
    height: 3.125rem;
    width: 3.125rem;
    transition-duration: 0.2s;
}

.contact__section_button:focus {
    scale: 1.5;
}

.contact__section_button:hover {
    scale: 1.5;
}

.contact__section_button-logo {
    width: 100%;
    height: 100%;
}

/**************************** footer ******************************/
.footer {
    text-align: center;
    padding: 1rem;
    color: var(--darkgray);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__external-link {
    color: var(--purple);
    font-weight: bold;
    text-decoration: none;
}

/* add the arrow to the end */
.footer__external-link::after {
    content: "🡭";
    margin-left: 0.3125rem;
}

/* change color to black when the link is targeted */
.footer__external-link:hover,
.footer__external-link:focus {
    color: var(--black);
}

/* change color to red on click */
.footer__external-link:active {
    color: var(--red);
}

.footer__external-link:visited {
    color: var(--blue);
}

.footer__backtop-button {
    color: var(--purple);
    font-size: 2rem;
    text-decoration: none;
    transition-duration: 0.2s;
}

/* The third selector is used to tactile devices */
.footer__backtop-button:hover,
.footer__backtop-button:focus,
.footer__backtop-button:active {
    scale: 1.5;
}

/***************************** body *******************************/
.body {
    font-family: Inter;
}

.main-article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (width >= 685px) {
    /* force narrow screen on non-mobile devices */
    .body {
        max-width: 70%;
        margin: 0 auto;
    }

    /* separate the main skills list */
    .main-skills__container {
        justify-content: space-around;
    }
}
