:root {
    /* colors */
    --purple: rgb(105, 66, 210);
    --red: rgb(206, 51, 51);
    --blue: rgb(0, 102, 255);

    /* Dark theme colors */
    --dark-theme-background: rgb(30, 30, 30);
    --dark-theme-text: rgb(230, 230, 230);

    /* default theme colors */
    --default-theme-background: rgb(240, 240, 240);
    --default-theme-text: rgb(10, 10, 10);
    --default-theme-shadows: rgb(150, 150, 150);

    /* headers-size */
    --main-header: 2rem;
}